@model IEnumerable<SistemaTransito.Dominio.Entidades.Vehiculo>

@{
    ViewBag.Title = "ListarVehiculos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ListarVehiculos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NumeroChasis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cilindraje)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Placa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    @Html.Partial("_ListadoVehiculos", item)
}

</table>
